* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

/* Efeito em palavtras de destaque */
.referencia {
    color: gold;
    font-weight: bolder;
}

.referencia2 {
    color: brown;
    font-weight: bolder;
}

/* Menu da pagina */
.header {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 15%;
    top: 10px;
    right: 0;
    gap: 20px;
    font-size: 20px;
    transition: 1s;
    transform: translateX(0);
    z-index: 1000;

    background-color: rgba(255, 255, 255, 0.7);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.header:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.header ul {
    list-style: none;
    margin-right: -7px;
}

.header li {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, transparent 5%, rgb(202, 162, 88) 50%, transparent 100%);
    padding: 7px;
    border-bottom-left-radius: 20px;
    text-align: center;
    transition: 0.3s;
}

.header li:hover {
    background: linear-gradient(90deg, wheat 5%, rgb(202, 162, 88) 50%, wheat 100%);
    border: 0.5px solid rgba(0, 0, 0, 0.123);
    border-bottom-left-radius: 50px;
    padding: 12px;
}

.header a {
    font-weight: bolder;
    color: black;
    font-style: none;
    text-decoration: none;
    white-space: nowrap;
}

.player {
    padding: 7px;
    background: linear-gradient(90deg, transparent 5%, rgb(202, 162, 88) 50%, transparent 100%);
    border-top-left-radius: 12px;
}

.player:hover {
    background: linear-gradient(90deg, wheat 5%, rgb(202, 162, 88) 50%, wheat 100%);
    border: 0.5px solid rgba(0, 0, 0, 0.123);
}

.header.hidden {
    transform: translateY(-90%);
    background-color: transparent;
}

#header__menuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    width: 60px;
    padding: 7px;
    border-radius: 12px;
    border: none;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgb(202, 162, 88) 1%, wheat 100%);
    gap: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.123);
    font-weight: bolder;
    cursor: pointer;
}

#header__menuButton:hover {
    background: rgb(255,255,255);
    background: radial-gradient(circle, wheat 1%, rgb(202, 162, 88) 100%);
    padding: 9px;
}

/* Primeira sessao */
.primeiraPagina {
    width: 100%;
    height: 100vh;
    background-image: url(./img/img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    
}

.primeiraPagina__texto {
    width: 45%;
    margin: 17% 0 0 7%;
}

.primeiraPagina__texto1 {
    font-size: 30px;
    background-color: wheat;
    padding: 7px;
}

.primeiraPagina__texto2 {
    font-size: 20px;
    color: wheat;
    background-color: rgb(0, 0, 0);
    padding: 7px;
}

            /* VERSICULOS DA PRIMEIRA SESSAO */
.primeiraPagina__versiculos {
    display: flex;
    justify-content: center;
    
    margin: 17% 0 0 300px;
    position: relative;
}

.versiculos__1, .versiculos__2, .versiculos__3, .versiculos__4, .versiculos__5, 
.versiculos__6, .versiculos__7, .versiculos__8, .versiculos__9, .versiculos__10 {
    color: wheat;
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid wheat;
    padding: 7px;
    font-size: 20px;
    position: absolute;
    width: 400px;
    border-radius: 12px;
    /* animacao */
    opacity: 0;
    animation: animacao__versiculos 10.5s;
}

@keyframes animacao__versiculos {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Segunda Sessao */
.segundaPagina {
    width: 100%;
    height: 100vh;
    background-image: url(./img/leao.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

            /* Segunda Sessao texto */
.segundaPagina__texto {
    display: flex;
    justify-content: center;
    width: 70%;
}

.segundaPagina__texto1 {
    padding: 7px;
    font-size: 20px;
    color: rgb(116, 70, 1);
    background-color: wheat;
    font-weight: lighter;
}

.segundaPagina__texto2{
    padding: 7px;
    color: whitesmoke;
    background-color: rgb(116, 70, 1, 0.7);
    cursor: pointer;
    position: relative;
    font-size: 20px;
    text-align: center;
}

.tooltip {
    background-color: wheat; 
    color: rgb(116, 70, 1); 
    visibility: hidden; /* Inicialmente invisível */
    width: 100%; /* Largura do tooltip */
    height: 100%;
    text-align: center; /* Centraliza o texto */
    padding: 7px; /* Espaçamento interno */
    position: absolute; /* Posiciona o tooltip em relação à div pai */
    z-index: 1; /* Coloca o tooltip acima de outros elementos */
    bottom: 0%; /* Coloca acima da div */
    left: 0;
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.9s; /* Animação de transição */
}

.segundaPagina__texto2:hover .tooltip {
    visibility: visible; /* Torna visível ao passar o mouse */
    opacity: 1; /* Torna opaco ao passar o mouse */
}

.segundaPagina__pergunta {
    font-size: 25px;
    margin-top: 17px;
    text-align: center;
}

.tooltip .segundaPagina__pergunta {
    margin-bottom: 12px;
}

/* Terceira Sessao */
.terceiraPagina {
    width: 100%;
    height: 100vh;
    background-image: url(./img/terceiraSessaoBG4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.terceiraPagina__texto1, .terceiraPagina__texto2, .terceiraPagina__texto3, .terceiraPagina__texto4 {
    width: 70%;
    font-size: 20px;
    padding: 7px;
    color: whitesmoke;
    background-color: rgba(116, 70, 1, 0.7);
    text-align: center;
}

.terceiraPagina__texto1:hover, .terceiraPagina__texto2:hover, .terceiraPagina__texto3:hover, .terceiraPagina__texto4:hover {
    color: rgb(116, 70, 1);
    background-color: wheat;
    transition: 0.2s linear;
}

.terceiraPagina__texto1:hover .referencia, .terceiraPagina__texto2:hover .referencia, .terceiraPagina__texto3:hover .referencia, .terceiraPagina__texto4:hover .referencia {
    color: brown;
}

/* Quarta sessao */
.quartaPagina {
    width: 100%;
    height: 100vh;
    background-image: url(./img/jardim.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    
}

.quartaPagina__texto1 {
    width: 70%;
    text-align: center;

    color: darksalmon;
    background-color:  rgba(0, 0, 0, 0.6);
    border-radius: 7px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.2s linear;
}

.quartaPagina__texto1:hover {
    font-weight: bolder;
    padding: 8px;
    background-color: black;
}

/* Quinta Sessao - formulario */
.quintaPagina {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: darksalmon;
    background: radial-gradient(circle, rgb(22, 131, 182) 0%, rgb(19, 169, 214) 100%);
}

.form {
    background-color: rgba(255, 255, 255, 0.9);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    
    gap: 20px;
    padding: 7px;
    border-radius: 7px;
}

.form__buttons {
    display: flex;
    flex-direction: column;
}

.form__quemSouEu, .form__comoMeEncontrar {
    display: flex;
    flex-direction: column;
    gap: 7px;
}